/* 
    #9e9186 - brownish
    #1dcae4 - blue
*/

html, body{
    margin: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    cursor: default;
    
}

a, a:link, a:hover, a:active, a:visited{
    text-decoration: none;
    color: #1dcae4;/*blue*/
    cursor: pointer;
}

.app{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /*white*/
}

.app-container{
    text-align: center;
    background: #9e9186; /*brownish*/
    padding: 20px;
    border-radius: 10px;
}

.app-heading{
    font-size: 36px;
    margin: 10px;
}

.date-builder{
    margin: 5px;
}

.app-copyright{
    margin-top: 30px;
}