.weather-display-city{
    font-size: 30px;
    margin-top: 20px;
}

.weather-display-temp{
    font-size: 30px;
    margin-top: 20px;
}

.selected-temp{
    font-weight: bolder;
}

.weather-display-extra{
    margin-top: 20px;
}

#temp-c, #temp-f{
    cursor: pointer;
}

.temp-hidden{
    display: none;
}